<section class="about-us-section container">
  <h2 class="about-us-title">Чому Хатинка Лапок</h2>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture
          ><source media="(min-width:1440px)" srcset="" />
          <source
            media="(min-width:768px)"
            srcset="
              /src/img/about-us/webp/slide-1-tablet.webp 1x,
              /src/img/about-us/webp/slide-1-tablet.webp 2x
            "
          />
        </picture>
        <img src="/src/img/about-us/webp/slide-1-desktop.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/src/img/about-us/webp/slide-2-desktop.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/src/img/about-us/webp/slide-3-desktop.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/src/img/about-us/webp/slide-4-desktop.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/src/img/about-us/webp/slide-5-desktop.webp" alt="" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
