<div class="backdrop" role="presentation" aria-hidden="true">
  <div class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-desc"
    tabindex="-1">
    <h2 id="modal-title" class="sr-only ">Модальне вікно</h2>
    <p id="modal-desc" class="sr-only ">
      Діалогове вікно. Натисніть Escape або кнопку “Закрити”, щоб вийти.
    </p>
    <button type="button" class="modal__close-btn js-close-btn" aria-label="Закрити модальне вікно">
      <svg class="modal__close-icon" width="14" height="14" aria-hidden="true" focusable="false">
        <use href="#icon-close"></use>
      </svg>
    </button>

    <div class="js-modal-content modal__content">
    </div>
  </div>
</div>