<footer class="footer">
  <div class="footer-wrapper container">
    <div class="logo">
      <a href="./index.html" class="footer-logo">
        <img
          class="logo-img"
          src="./img/SVG-sprite/logo.svg"
          alt="Hatynka Lapok"
          width="302"
          height="129"
        />
      </a>
    </div>
    <nav class="footer-nav" aria-label="Footer navigation">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#about-us">Про нас</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#pets-list">Знайти друга</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#faq">Часті запитання</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#success-stories">Історії успіху</a>
        </li>
      </ul>
    </nav>
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="footer-social-icon" width="32" height="32">
            <use href="./img/SVG-sprite/facebook.svg"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="footer-social-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="footer-social-icon" width="32" height="32">
            <use href="./img/SVG-sprite/instagram.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
    <hr class="footer-divider" />

    <small class="footer-copyright">
      &#169; 2025 Хатинка лапок. Всі права захищені.
    </small>
  </div>
</footer>
