<section class="pets-list" id="pets-list">
  <div class="container">
    <h2 class="pets-list__title">Наші хвостики</h2>
    <p class="pets-list__subtitle">Вони дуже чекають на знайомство з вами</p>
    <ul class="pets-list__categories js-categories"></ul>
     <span class="loader is-hidden"></span>
    <ul class="pets-list__cards js-animals-list"></ul>
    <button type="button" class="load-more-btn js-more-btn">
      Показати більше
    </button>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>
