<!-- raty -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>

<!-- swiper -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<section class="success-stories-section">
  <div class="success-stories container">
    <!-- div заголовок -->
    <div class="success-title">
      <h2 class="success-title h2">Щасливі історії, що надихають</h2>
      <p class="success-title p">
        Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
      </p>
    </div>

    <!-- div контент -->
    <div class="success-content swiper">
      <ul class="feedbacks-list swiper-wrapper"></ul>
    </div>

    <!-- div керування -->
    <div class="success-swiper">
      <div class="swiper-navigation"></div>

      <div class="success-swiper-buttons">
        <button type="button" class="custom-swiper-prev">
          <svg
            class=""
            width="20"
            height="20"
            style="transform: rotate(180deg)"
          >
            <use href="#icon-arrow_succsess"></use>
          </svg>
        </button>
        <button type="button" class="custom-swiper-next">
          <svg class="" width="20" height="20">
            <use href="#icon-arrow_succsess"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
