<section class="success-stories">
    <div class="success-stories__wrapper container">
        <h2 class="success-stories__header">Щасливі історії, що надихають</h2>
        <p class="success-stories__subtitle">
            Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
        </p>














        <div class="success-stories__container">


            <div class="swiper success-stories__swiper">
                <div class="swiper-wrapper success-stories__slides">


                </div>
            </div>




            <div class="success-stories__nav">
                <div class="swiper-pagination__wrapper">
                    <div class="swiper-pagination success-stories__pagination"></div>
                </div>
                <div class="success-stories__nav-buttons">
                    <button type="button" class="swiper-button-prev success-stories__btn success-stories__btn--prev">
                        <svg class="success-stories__icon" width="24" height="24" aria-hidden="true">
                            <use href="#icon-arrow-left"></use>
                        </svg>
                    </button>

                    <button type="button" class="swiper-button-next success-stories__btn success-stories__btn--next">
                        <svg class="success-stories__icon" width="24" height="24" aria-hidden="true">
                            <use href="#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <div class="swiper-slide success-stories__slide">
    <div class="js-rating" data-score="${score}"></div>
    <p class="success-stories__slide-text">Ми взяли морську свинку для дитини. Все пройшло чудово, тваринка доглянута. Дякуємо за вашу важливу працю!Ми взяли морську свинку для дитини. Все пройшло чудово, тваринка доглянута. Дякуємо за вашу важливу працю!Ми взяли морську свинку для дитини. Все пройшло чудово, тваринка доглянута. Дякуємо за вашу важливу працю!Ми взяли морську свинку для дитини. Все пройшло чудово, тваринка доглянута. Дякуємо за вашу важливу працю!Ми взяли морську свинку для дитини. Все пройшло чудово, тваринка доглянута. Дякуємо за вашу важливу працю!Ми взяли морську свинку для дитини. Все пройшло чудово, тваринка доглянута. Дякуємо за вашу важливу працю!</p>
    <h3 class="success-stories__slide-title">${name}</h3>
</div> -->