.about-us-section {
  background: var(--color-scheme-1-background);
}

.about-us-title {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;

  padding: 64px 20px 40px 20px;
}

@media screen and (min-width: 768px) {
  .about-us-title {
    padding: 64px 32px 40px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-title {
    padding: 80px 272px 40px 272px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 18%,
    rgba(0, 0, 0, 0.6) 63%
  );
}

.swiper-slide picture,
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slide-text {
  position: absolute;
  z-index: 2;

  top: 238px;
  left: 20px;
  bottom: 20px;
  right: 20px;

  width: 295px;
  height: 144px;

  color: #f6f4f1;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .slide-text {
    top: 300.05px;
    left: 32px;
    bottom: 32px;

    width: 548px;
    height: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .slide-text {
    font-size: 18px;

    top: 581px;
    left: 64px;

    width: 548px;
    height: 108px;
  }
}
