.about-us-section {
  background: var(--color-scheme-1-background);
}

.about-us-title {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;

  padding: 64px 20px 40px 20px;
}

@media screen and (min-width: 768px) {
  .about-us-title {
    padding: 64px 32px 40px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-title {
    padding: 80px 272px 40px 272px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.slide-text {
  position: absolute;
  top: 238px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  width: 295px;
  height: 144px;
  color: #f6f4f1;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .slide-text {
    font-size: 20px;
    top: 200px; /* можна змінити під планшет */
  }
}

@media screen and (min-width: 1440px) {
  .slide-text {
    font-size: 22px;
    top: 250px; /* для десктопу */
  }
}
