body {
  font-family: "IBMPlexSans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f6f4f1;
}

/* базовий контейнер */
.container {
  width: 100%;
  margin-inline: auto;
  padding: 0 20px;
  /* внутрішні поля зліва/справа */
}

/* з 375px макет стає адаптивним */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    /* внутрішні поля зліва/справа */
  }
}

/* desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
    /* внутрішні поля зліва/справа */
  }
}

.loader {
  display: block;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 108px;
  display: flex;
  justify-content: space-between;

  &.is-hidden {
    display: none;
  }
}

.loader::after,
.loader::before {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}

@keyframes eyeMove {

  0%,
  10% {
    background-position: 0px 0px;
  }

  13%,
  40% {
    background-position: -15px 0px;
  }

  43%,
  70% {
    background-position: 15px 0px;
  }

  73%,
  90% {
    background-position: 0px 15px;
  }

  93%,
  100% {
    background-position: 0px 0px;
  }
}

@keyframes blink {

  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 48px;
  }

  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 18px;
  }
}


.button__black-default {
  color: #FFFFFF;
  border-radius: 8px;
  background-color: #88765C;
  border: 1px solid #88765C;
}

.button__black-default:hover,
.button__black-default:focus {
  color: #02060A;
  border: 1px solid #88765C;
  background-color: #EEE9E3;
}

.button__black-default:active {
  box-shadow:
    0 4px 6px -2px rgba(0, 0, 0, 0.03) inset,
    0 12px 16px -4px rgba(0, 0, 0, 0.08) inset;
}

.button__black-default:disabled {
  color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(2, 6, 10, 1);
  background-color: rgba(136, 118, 92, 1);
  border: 1px solid rgba(136, 118, 92, 1);

}

.button__white-default {
  color: #02060A;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #02060A;
}

.button__white-default:hover,
.button__white-default:focus {
  border: 1px solid rgba(136, 118, 92, 1);
  background: rgba(238, 233, 227, 1);
}

.button__white-default:active {
  box-shadow:
    0 4px 6px -2px rgba(0, 0, 0, 0.03) inset,
    0 12px 16px -4px rgba(0, 0, 0, 0.08) inset;

}

.button__white-default:disabled {
  color: rgba(2, 6, 10, 1);
  border: solid 1px rgba(2, 6, 10, 1);
}


  .link__default {
    color: #02060A;
    line-height: 150%;
  }

  .link__default:hover,
  .link__default:focus {
    box-shadow: 0 1px 0 rgba(2, 6, 10, 1);
  }

  .link__default:active {
    color: #88765C;
    box-shadow: 0 1px 0 #88765C;
  }