.footer {
  padding: 48px 0;
  margin: 0 auto;
  background-color: #c3b49d;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c3b49d;
}

.footer__logo {
  padding: 0 16px;
  margin-bottom: 32px;
}

.footer__logo-img {
  width: 302px;
  height: 129px;
}

.footer__nav {
  margin-bottom: 32px;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer__nav-item {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
}

.footer__nav-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
  text-align: center;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.footer__nav-link:hover,
.footer__nav-link:focus-visible {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__nav-link:active {
  color: #88765c;
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.footer__divider {
  border: 1px solid rgba(2, 6, 10, 0.15);
  width: 100%;
  height: 0px;
  margin: 0 auto 32px;
}

.footer__copyright {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 48px 0;
  }


  .footer__logo {
    padding: 0 89px;
  }

  .footer__nav-list {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 64px 0;
  }

  .footer__nav-link {
    font-size: 14px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
