/* ========== Header ========== */
.header {
  font-size: 14px;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #F6F4F1;
}

.header__blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(2, 6, 10, 0.10);

}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
}

.header__link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 64px;
  max-width: 160px;
}

/* Desktop container default */
.header__desktop-container {
  display: none;
}

/* Burger button */
.header__burger {
  width: 44px;
  height: 44px;
  position: relative;
  display: inline-grid;
  place-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  line-height: 0;
  -webkit-tap-highlight-color: transparent;
}

/* 3 lines */
.header__burger-lines,
.header__burger::before,
.header__burger::after {
  content: "";
  width: 24px;
  height: 2px;
  display: block;
  border-radius: 2px;
  background: currentColor;
  transition: transform 0.25s ease, opacity 0.2s ease;
}

.header__burger::before {
  position: absolute;
  transform: translateY(-7px);
}

.header__burger::after {
  position: absolute;
  transform: translateY(7px);
}

/* Open => X */
.header__burger.is-open .header__burger-lines {
  opacity: 0;
}

.header__burger.is-open::before {
  transform: rotate(45deg);
}

.header__burger.is-open::after {
  transform: rotate(-45deg);
}

/* ========== Modal Menu ========== */
.modal-menu {
  font-size: 14px;

  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  height: calc(100vh - 64px);
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  overflow: hidden;
  background: #F6F4F1;
}

.modal-menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;

  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  will-change: transform;
}

.modal-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
  align-items: flex-start;
}



.modal-menu__button {
  text-align: center;
  padding: 8px 0;
}

/* Open state */
.modal-menu--open {
  opacity: 1;
  pointer-events: auto;
}

.modal-menu--open .modal-menu__container {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}

/* ========== Media ========== */
@media (min-width: 768px) {
  .header {
    font-size: 16px;
  }

  .modal-menu__container {
    align-items: center;
  }

  .modal-menu__nav {
    align-items: center;
  }

  .modal-menu__button {
    padding: 8px 58.5px;
  }
}

@media (min-width: 1440px) {


  .header__burger {
    display: none;
  }

  .header__desktop-container {
    display: flex;
    width: 100%;
    margin-left: 24px;
    align-items: center;
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .header__button {
    padding: 8px 20px;
  }

  .modal-menu {
    display: none;
  }
}