
.loader.is-hidden {
  display: none;
}
.pets-list {
  padding-top: 64px;
  padding-bottom: 32px;
}
.pets-list__title {
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 16px;
}
.pets-list__subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #02060a;
  margin-bottom: 32px;
}
.pets-list__categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.pets-list__category-btn {
  border-radius: 100px;
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
  transition: background-color 250ms ease-in-out;
}
.pets-list__category-btn:hover,
.pets-list__category-btn:focus {
  background-color: #c3b49d;
}
.pets-list__category-btn--active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
}
.pets-list__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
}
.pets-list__card {
  width: 100%;
  border-radius: 16px;
  padding: 12px;
  background-color: #eee9e3;
  display: flex;
  flex-direction: column;
  transition: transform 250ms ease-in-out;
}
.pets-list__card:hover,
.pets-list__card:focus {
  transform: scale(1.05);
}
.pets-list__card--image {
  border-radius: 8px;
  width: 311px;
  height: 245px;
  margin-bottom: 18px;
}
.pets-list__card--specie {
  text-align: left;
  font-size: 10px;
  line-height: 1.5;
  color: #02060a;
  margin-bottom: 4px;
}
.pets-list__card--name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #02060a;
  margin-bottom: 4px;
}
.pets-list__card--categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 4px;
}
.pets-list__card--category {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background-color: rgba(2, 6, 10, 0.05);
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  color: #02060a;
}
.pets-list__card--info {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.pets-list__card--age,
.pets-list__card--gender {
  text-align: left;
  font-size: 10px;
  line-height: 1.5;
  color: #02060a;
}
.pets-list__card--behavior {
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
  margin-bottom: 16px;
}
.pets-list__card--btn {
  border: 1px solid #02060a;
  border-radius: 8px;
  background-color: transparent;
  margin-top: auto;
  padding: 8px 20px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
  transition: background-color 250ms ease-in-out;
}
.pets-list__card--btn:hover,
.pets-list__card--btn:focus,
.pets-list__card--btn:active {
  background-color: #c3b49d;
}
.pets-list__card--btn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
.load-more-btn {
  display: block;
  margin: 0 auto;
  border: 1px solid #88765c;
border-radius: 8px;
padding: 12px 24px;
background-color: #88765c;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #fff;
transition: background-color 250 ms ease-in-out;
}
.load-more-btn:hover,
.load-more-btn:focus,
.load-more-btn:active {
  background-color: #eee9e3;
}
.load-more-btn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
.load-more-btn.is-hidden {
  display: none;
}
@media screen and (min-width: 768px) {
 .pets-list__cards {
  justify-content: center;
 }
  .pets-list__card {
    width: calc((100% - 32px) / 2);
  }
  .pets-list__card--image {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .pets-list__title {
    font-size: 48px;
  }
  .pets-list__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .pets-list__categories {
    gap: 2px;
    margin-bottom: 40px;
  }
  .pets-list__card {
    width: calc((100% - 64px) / 3);
  }
  .pets-list__card--image {
    width: 392px;
    height: 309px;
  }
  .pets-list__card--specie {
    font-size: 12px;
  }
  .pets-list__card--name {
    font-size: 24px;
  }
  .pets-list__card--categories-list {
    margin-bottom: 16px;
  }
  .pets-list__card--category {
    font-size: 12px;
  }
  .pets-list__card--age,
  .pets-list__card--gender {
    font-size: 12px;
  }
  .pets-list__card--behavior {
    font-size: 14px;
  }
  .pets-list__card--btn {
    font-size: 16px;
  }
}
