/* Default styles */
@import url('./reset.css');
@import url('./default.css');
@import url('./fonts.css');


/* Partials */
@import url('./header.css');
@import url('./hero.css');
@import url('./pets-list.css');
@import url('./about-us.css');
@import url('./faq.css');
@import url('./success-stories.css');
@import url('./animal-details.css');
@import url('./order-modal.css');
@import url('./footer.css');
