.success-stories {
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
.success-title {
  background-color: rgb(148, 211, 190);
}

.swiper {
  background-color: rgb(241, 241, 241);

  width: 100%;
  height: 200px;
}

.swiper-slide-feedbacks {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: blue;
}

.swiper-slide-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(190, 28, 50);
}

.success-swiper {
  background-color: rgb(139, 104, 104);
  height: 50px;
}

.success-h2 {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;

  margin-bottom: 24px;
}

.success-p {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  text-align: center;
}

/* з 375px макет стає адаптивним */
@media (min-width: 375px) {
}

/* tablet */
@media (min-width: 768px) {
}

/* desktop */
@media (min-width: 1440px) {
  .success-title {
    max-width: 700px; /* для відображування заголовку */
    margin-inline: auto;
  }

  .success-h2 {
    font-weight: 700;
    font-size: 48px;
  }

  .success-p {
    font-size: 18px;
  }
}

.star-rating {
  margin-bottom: 16px;
  text-align: center;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 24px;
  color: #e0e0e0; /* колір порожніх зірок */
}

.stars-outer::before {
  content: '\f005 \f005 \f005 \f005 \f005'; /* 5 порожніх зірок */
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0; /* перезаписується inline style з JS */
  color: #ffd700; /* золотий колір заповнених зірок */
}

.stars-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005'; /* 5 повних зірок */
}
